entry {
	background: @base_color;
	border: solid 2px red;
	border-image: url("entry.png");
	border-image-slice: 2 2 2 2;
	padding: 3px;
}

combobox button {
	background: @bg_color url("down.png") no-repeat center;
	min-width: 10px;
	padding: 5px;
}

combobox button:not(:first-child) {
	margin: 2px;
}
combobox entry {
	margin-right: -24px;
}

combobox button:first-child {
	background-position: right center;
}

