scale.horizontal slider {
	background-image: url("slider-horizontal.png");
	min-height: 19px;
	min-width: 11px;
	margin: -9px -5px;
}
scale.vertical slider {
	background-image: url("slider-vertical.png");
	min-height: 11px;
	min-width: 19px;
	margin: -5px -9px;
}
scale trough {
	border: solid 2px;
}
scale.horizontal trough {
	border-image: url("scale-horizontal.png") 2 / 2px stretch;
	margin: 9px 5px;
}
scale.vertical trough {
	border-image: url("scale-vertical.png") 2 / 2px stretch;
	margin: 5px 9px;
}
