progressbar {
	background: @bg_color;
	border: solid 1px #808080;
	border-bottom-color: white;
	border-right-color: white;
	font-size: 0;
	padding: 1px;
}
progressbar progress {
	background: @selected_bg_color;
	color: @selected_fg_color;
}
progressbar.horizontal,
progressbar.horizontal progress,
progressbar.horizontal trough {
	min-height: 14px;
}
progressbar.vertical,
progressbar.vertical progress,
progressbar.vertical trough {
	min-width: 14px;
}
