scrollbar {
	background-color: @bg_color;
	background-image: url("scrollbar.png");
}
scrollbar button,
scrollbar button:hover,
scrollbar button:hover,
scrollbar button:active,
scrollbar button:active:hover,
scrollbar button:disabled,
scrollbar button:disabled {
	border: 0;
	color: transparent;
	min-height: 16px;
	min-width: 16px;
	padding: 0;
}
scrollbar.vertical button.up {
	background-image: url("up.png");
}
scrollbar.vertical button.down {
	background-image: url("down.png");
}
scrollbar.horizontal button.up {
	background-image: url("left.png");
}
scrollbar.horizontal button.down {
	background-image: url("right.png");
}
scrollbar slider {
	background-color: @bg_color;
	border: solid 3px;
	border-image: url("slider.png");
	border-image-slice: 3 3 3 3;
}
scrollbar.vertical slider {
	min-height: 4px;
	min-width: 10px;
}
scrollbar.horizontal slider {
	min-height: 10px;
	min-width: 4px;
}
