button {
	border-image: url("button.png") 3 / 3px stretch;
	padding: 5px;
}
button:active {
	border-image: url("button-active.png") 3 / 3px stretch;
}
button:active:hover {
	border-image: url("button-pressed.png") 3 / 3px stretch;
	padding: 6px 4px 4px 6px;
}
button.toggle:checked {
	background-color: @base_color;
	border-image: url("button-toggled.png") 3 / 3px stretch;
	padding: 6px 4px 4px 6px;
}
button:focus {
	border-image: url("button-focus.png") 3 / 3px stretch;
}
button:disabled {
	border-image: url("button-disabled.png") 3 / 3px stretch;
}
button-flat {
	border-image: none;
}
button.link {
	color: @selected_bg_color;
}
