* {
	-GtkCheckButton-indicator-size: 15;
}

.background {
	background-color: @bg_color;
	color: @fg_color;
}

@import url("button/gtk-button.css");
@import url("check/gtk-check.css");
@import url("radio/gtk-radio.css");



/* Check, Radio
   ========================================================================== */

check,
radio,
check:disabled,
radio:disabled {
    border: none;
    background-color: transparent;
}
