/* Caja
   ========================================================================== */
.caja-navigation-window tab button,
.caja-navigation-window tab button:active:hover {
	padding: 0px;
}
.caja-navigation-window notebook > stack {
	border: solid 1px darker(@base_color);
}
.caja-side-pane treeview {
	padding: 2px 0;
}
.caja-navigation-window statusbar border {
	border: 0;
}
.caja-navigation-window notebook .view {
	background: @base_color;
}
.caja-navigation-window notebook .view:selected {
	background-color: @selected_bg_color;
	color: @selected_fg_color;
}
.caja-navigation-window notebook .view.rubberband {
	background-color: alpha(@selected_bg_color, 0.3);
	border: 1px solid @selected_bg_color;
}

/* Mate Panel
   ========================================================================== */
PanelToplevel > grid {
	border-image: url("assets/button.png") 2 / 2px stretch;
	margin: -2px -2px 0 -2px;
	padding: 4px;
}
#clock-applet-button {
	border: 0;
}

MatePanelAppletFrameDBus {
	background: transparent no-repeat left center url("assets/mate-panel-frame.png");
}
.mate-panel-menu-bar {
	border-image: url("assets/menubar-button-active.png") 2 / 2px stretch;
	padding: 0 6px;
}
